# Copyright (C) 2016 The CyanogenMod Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on boot
    # Enable Power modes and set the CPU Freq Sampling rates
    write /sys/module/rpm_resources/enable_low_power/L2_cache 1
    write /sys/module/rpm_resources/enable_low_power/pxo 1
    write /sys/module/rpm_resources/enable_low_power/vdd_dig 1
    write /sys/module/rpm_resources/enable_low_power/vdd_mem 1
    write /sys/module/pm_8x60/modes/cpu0/retention/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/retention/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/standalone_power_collapse/idle_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_show_resume_irq/parameters/debug_mask 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 384000
    chown root system /sys/devices/system/cpu/cpu1/online
    chmod 664 /sys/devices/system/cpu/cpu1/online

    write /sys/module/cpu_boost/parameters/boost_ms 20
    write /sys/module/cpu_boost/parameters/sync_threshold 1566000
    write /sys/module/cpu_boost/parameters/input_boost_freq 1458000
    write /sys/module/cpu_boost/parameters/input_boost_ms 40

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 1458000
    write /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay 20000
    write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 30000
    write /sys/devices/system/cpu/cpufreq/interactive/target_loads 90
    write /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load 99
    write /sys/devices/system/cpu/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/interactive/sampling_down_factor 100000
    write /sys/devices/system/cpu/cpufreq/interactive/boost 1
    write /sys/module/msm_thermal/core_control/enabled 1

    write /sys/class/kgsl/kgsl-3d0/pwrscale/trustzone/governor "ondemand"

on init
    write /sys/class/android_usb/android0/f_rndis/manufacturer Sony
    write /sys/class/android_usb/android0/f_rndis/vendorID 0FCE
    write /sys/class/android_usb/android0/f_rndis/wceis 1

on boot
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}

    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0FCE
    write /sys/class/android_usb/android0/idProduct 5195
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd

# Remap boot and FOTA for lk if lk is present
on property:ro.bootloader=lk
    start remap
    setprop lk.remap 1
